.App {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  
  
  
  .App-form {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .App-form input {
    width: 85%;
    height: 2rem;
    font-size: 20px;
  }
  
  .App-form button {
    width: 20%;
    height: 2.3rem;
    font-size: 30px;
   
    color: rgb(0, 0, 0);
    border: none;
    margin: 2px;
  }
  
  .App-form button:hover {
    background: rgb(8, 141, 48);
  }
  
  .Todos {
    width: 30%;
    color: #ffffff;
  }